*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    background-color: rgb(245, 245, 245);
}




/* Blue Menu at the Top */
/* #region */

nav.nav_nav{
    position: fixed;
    top: 0;
    left: 0;

    background: #0082e6;
    height: 80px;
    width: 100%;
    z-index: 5;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul.nav_ul{
    float: right;
    margin-right: 20px;
}

nav ul li.nav_li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a.nav_a,nav ul li a.nav_a_active{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: none;
}

a.nav_a_active,a.nav_a:hover{
    background: #1b9bff;
    transition: .5s;
}


.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1000px){
    
}
@media (max-width: 999px){
    .checkbtn{
        display: block;
    }
    ul.nav_ul{
        overflow-y: scroll;

        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li.nav_li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a.nav_a,nav ul li a.nav_a_active{
        font-size: 20px;
    }
    a.nav_a:hover,a.nav_a_active.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul.nav_ul{
        left: 0;
    }
}
ul.nav_ul::-webkit-scrollbar{
    display: none;
}

.menu_img{
    max-width: auto;
    height: 20px;
}

/* #endregion */


.home_weather_div{
    margin-top: 120px;
    margin-right: 20px;
    margin-bottom: -40px;
}

.uhrzeit{
    margin-top: 20px;

    color: black;
    font-size: 22px;
    font-family: Helvetica;
    line-height: 30px;
}





#section_two > *{
    z-index: -1;
    margin-left: 20px;
}

.header1{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}

.header3{
    font-size: 28px;

    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


/* Geschichte */
/* #region */
.geschichte_politisch_liste{
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 20px;

    line-height: 30px;
}

.geschichte_politisch_liste ul li{
    list-style-type: disc;
}

/* #endregion */


/* Homepage first introduction text*/
.frankfurt_start{
    font-size: 22px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}






/* Frankfurt Homepage first Texts */


/* Alignment and Text formatting */
/* #region */
.frankfurt_start_banken_und_messen_div_container_all{
    margin-top: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 725px) {

    .frankfurt_start_banken_und_messen_div_container_all{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .frankfurt_start_banken_und_messen_div{
        margin: 5px;
        flex: 0 1 75%;
    }

    .frankfurt_start_banken_und_messen_text_div{
        transform: translateY(-200px);
    }
}


.frankfurt_start_banken_und_messen_div{
    margin: 120px auto;

    margin-right: 20px;
}


.frankfurt_start_banken_und_messen_text_div{
   margin: 120px auto;

}
.frankfurt_start_banken_und_messen_ul{
    font-size: 22px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
/* #endregion */


/* Frankfurt seite Bild 1 */
/* #region */ 

.frankfurt_start_banken_und_messen_img_one{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;

    max-width: auto;
    height: 120px;

    position: relative;
    z-index: -2;
}



.container_frankfurt_start_banken_und_messen_img_one{
    width: 216.75px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
}


.text_container_frankfurt_start_banken_und_messen_img_one{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_container_frankfurt_start_banken_und_messen_img_div_one{
    width: 216.75px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.text_container_frankfurt_start_banken_und_messen_img_div_one:hover{
    opacity: 1;
}

/* #endregion */



/* Frankfurt seite Bild 2 */
/* #region */ 

.frankfurt_start_banken_und_messen_img_two{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;

    max-width: auto;
    height: 120px;

    position: relative;
    z-index: -2;
}



.container_frankfurt_start_banken_und_messen_img_two{
    width: 168.84px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
}


.text_container_frankfurt_start_banken_und_messen_img_two{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_container_frankfurt_start_banken_und_messen_img_div_two{
    width: 168.84px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.text_container_frankfurt_start_banken_und_messen_img_div_two:hover{
    opacity: 1;
}

/* #endregion */



/* Frankfurt seite Bild 3 */
/* #region */ 

.frankfurt_start_banken_und_messen_img_three{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;

    max-width: auto;
    height: 120px;

    position: relative;
    z-index: -2;
}



.container_frankfurt_start_banken_und_messen_img_three{
    width: 176.61px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
}


.text_container_frankfurt_start_banken_und_messen_img_three{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_container_frankfurt_start_banken_und_messen_img_div_three{
    width: 176.61px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.text_container_frankfurt_start_banken_und_messen_img_div_three:hover{
    opacity: 1;
}

/* #endregion */







/* Table formatting on Geschichte page*/
/* #region */

.table_geschichte_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table_geschichte{
    margin-top: 20px;
    margin-left: 20px;
    width: 75%;
    font-size: 20px;

    border: 2px solid black;
}

.table_geschichte th{
    border: 2px solid black;
    padding: 5px;
}

.table_geschichte_headline{
    color: #0082e6;
    font-size: 25px;
    text-decoration-line: underline;
}

/* #endregion */




/* Karte formatting on Standort page */
/* #region */

.standort_karte_div{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;

    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.standort_karte{
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    max-height: 90vh;
}

/* #endregion */








/* Youtube Video formatting on Sehenswuerdigkeiten page */
/* #region */

.roemer_frankfurt_div{
    padding-top: 56.25%;
    position: relative;

    overflow: hidden;
}

.roemer_frankfurt_div iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    max-height: 90vh;
}


.roemer_frankfurt_div_div{
    margin-top: 40px;
    margin-bottom: 20px;
    
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* #endregion */


/* Absaetze formatieren auf Sehenswuerdigkeiten Seite */
.frankfurt_sehenswuerdigkeiten_absatz_text{
    font-size: 22px;
    line-height: 28px;

    margin-top: 18px;
    margin-left: 40px;
    margin-right: 20px;
}



/* Sehenswuerdigkeiten Abschluss - Alignment and Text formatting */
/* #region */
.frankfurt_abschluss_div_div{
    margin-top: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 830px){

    .frankfurt_abschluss_div_div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .frankfurt_abschluss_img_div{
        margin: 5px;
        flex: 0 1 60%;
    }

    .frankfurt_abschluss_text_div{
        transform: translateY(-200px);
    }
}



.frankfurt_abschluss_img_div{
    margin: 120px auto;

    margin-right: 100px;
}


.frankfurt_abschluss_text_div{
   margin: 120px auto;

}
.frankfurt_abschluss_absatz_text{
    font-size: 22px;
    line-height: 28px;

    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
}
/* #endregion */


/* Sehenswuerdigkeiten seite Bild 1 */
/* #region */ 

.frankfurt_abschluss_img_one{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    max-width: auto;
    height: 220px;

    position: relative;
    z-index: -2;
}



.frankfurt_abschluss_div_img_one{
    width: 291.33px;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
}


.frankfurt_abschluss_img_one_text_thetext{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frankfurt_abschluss_img_one_text_div{
    width: 291.33px;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.frankfurt_abschluss_img_one_text_div:hover{
    opacity: 1;
}

/* #endregion */



/* Sehenswuerdigkeiten seite Bild 2 */
/* #region */ 

.frankfurt_abschluss_img_two{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    max-width: auto;
    height: 216.5px;

    position: relative;
    z-index: -2;
}



.frankfurt_abschluss_div_img_two{
    width: 291.95px;
    height: 216.5px;
    position: relative;
    margin-bottom: 20px;
}


.frankfurt_abschluss_img_two_text_thetext{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frankfurt_abschluss_img_two_text_div{
    width: 291.95px;
    height: 216.5px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.frankfurt_abschluss_img_two_text_div:hover{
    opacity: 1;
}

/* #endregion */


/* Sehenswuerdigkeiten seite Bild 3 */
/* #region */ 

.frankfurt_abschluss_img_three{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    max-width: auto;
    height: 250px;

    position: relative;
    z-index: -2;
}



.frankfurt_abschluss_div_img_three{
    width: 174.13px;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
}


.frankfurt_abschluss_img_three_text_thetext{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frankfurt_abschluss_img_three_text_div{
    width: 174.13px;
    height: 250px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.frankfurt_abschluss_img_three_text_div:hover{
    opacity: 1;
}

/* #endregion */


/* Sehenswuerdigkeiten seite Bild 4 */
/* #region */ 

.frankfurt_abschluss_img_four{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    max-width: auto;
    /*height: 195.5px;*/
    width: 290.95px;

    position: relative;
    z-index: -2;
}



.frankfurt_abschluss_div_img_four{
    width: 290.95px;
    height: 195.91px;
    position: relative;
    margin-bottom: 20px;
}


.frankfurt_abschluss_img_four_text_thetext{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frankfurt_abschluss_img_four_text_div{
    width: 290.95px;
    height: 195.91px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.frankfurt_abschluss_img_four_text_div:hover{
    opacity: 1;
}

/* #endregion */

.frankfurt_abschluss_buttons_div{
    margin-top: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frankfurt_abschluss_buttons{
    background-color: #0082e6;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

    margin-right: 10px;
}







/* Frankfurt - Alignment of Images */

/* Frankfurt seite Bild ebbelwoi und ebbelwoi-express */
/* #region */ 

.frankfurt_abschluss_img_ebbelwoi_ex{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    max-width: auto;
    height: 220px;

    position: relative;
    z-index: -2;
}



.frankfurt_abschluss_div_img_ebbelwoi_ex{
    width: 291.33px;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
}


.frankfurt_abschluss_img_ebbelwoi_ex_text_thetext{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frankfurt_abschluss_img_ebbelwoi_ex_text_div{
    width: 291.33px;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.frankfurt_abschluss_img_ebbelwoi_ex_text_div:hover{
    opacity: 1;
}

/* #endregion */




/* Frankfurt seite Bild bembel */
/* #region */ 

.frankfurt_abschluss_img_bembel{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    max-width: auto;
    height: 220px;

    position: relative;
    z-index: -2;
}



.frankfurt_abschluss_div_img_bembel{
    width: 220px;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
}


.frankfurt_abschluss_img_bembel_text_thetext{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frankfurt_abschluss_img_bembel_text_div{
    width: 220px;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.frankfurt_abschluss_img_bembel_text_div:hover{
    opacity: 1;
}

/* #endregion */




/* Frankfurt seite Bild geripptes */
/* #region */ 

.frankfurt_abschluss_img_geripptes{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

    max-width: auto;
    height: 220px;

    position: relative;
    z-index: -2;
}



.frankfurt_abschluss_div_img_geripptes{
    width: 161.14px;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
}


.frankfurt_abschluss_img_geripptes_text_thetext{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.frankfurt_abschluss_img_geripptes_text_div{
    width: 161.14px;
    height: 220px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.frankfurt_abschluss_img_geripptes_text_div:hover{
    opacity: 1;
}

/* #endregion */


/* Die Bilder von oben sind in diesem uebergestellten Div*/
.frankfurt_bilder_div{
    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 1115px) {

    .frankfurt_bilder_div{
        flex-direction: column;
        align-items: center;
    }
}