*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    background-color: rgb(245, 245, 245);
}




/* Blue Menu at the Top */
/* #region */

nav.nav_nav{
    position: fixed;
    top: 0;
    left: 0;

    background: #0082e6;
    height: 80px;
    width: 100%;
    z-index: 5;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul.nav_ul{
    float: right;
    margin-right: 20px;
}

nav ul li.nav_li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a.nav_a,nav ul li a.nav_a_active{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: none;
}

a.nav_a_active,a.nav_a:hover{
    background: #1b9bff;
    transition: .5s;
}


.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 966px){
    
}
@media (max-width: 965px){
    .checkbtn{
        display: block;
    }
    ul.nav_ul{
        overflow-y: scroll;

        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li.nav_li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a.nav_a,nav ul li a.nav_a_active{
        font-size: 20px;
    }
    a.nav_a:hover,a.nav_a_active.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul.nav_ul{
        left: 0;
    }
}
ul.nav_ul::-webkit-scrollbar{
    display: none;
}

.menu_img{
    max-width: auto;
    height: 20px;
}

/* #endregion */




#section_two > *{
    z-index: -1;
}


/* Homepage first introduction text*/
.frankfurt_start{
    font-size: 22px;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
}






/* Frankfurt Homepage first Texts */


/* Alignment and Text formatting */
/* #region */
.frankfurt_start_banken_und_messen_div_container_all{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frankfurt_start_banken_und_messen_div{
    margin: 120px auto;

    margin-right: 20px;
}


.frankfurt_start_banken_und_messen_text_div{
   margin: 120px auto;

}
.frankfurt_start_banken_und_messen_ul{
    font-size: 22px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
/* #endregion */


/* Frankfurt seite Bild 1 */
/* #region */ 

.frankfurt_start_banken_und_messen_img_one{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;

    max-width: auto;
    height: 120px;

    position: relative;
    z-index: -2;
}



.container_frankfurt_start_banken_und_messen_img_one{
    width: 216.75px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
}


.text_container_frankfurt_start_banken_und_messen_img_one{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_container_frankfurt_start_banken_und_messen_img_div_one{
    width: 216.75px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.text_container_frankfurt_start_banken_und_messen_img_div_one:hover{
    opacity: 1;
}

/* #endregion */



/* Frankfurt seite Bild 2 */
/* #region */ 

.frankfurt_start_banken_und_messen_img_two{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;

    max-width: auto;
    height: 120px;

    position: relative;
    z-index: -2;
}



.container_frankfurt_start_banken_und_messen_img_two{
    width: 168.84px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
}


.text_container_frankfurt_start_banken_und_messen_img_two{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_container_frankfurt_start_banken_und_messen_img_div_two{
    width: 168.84px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.text_container_frankfurt_start_banken_und_messen_img_div_two:hover{
    opacity: 1;
}

/* #endregion */



/* Frankfurt seite Bild 3 */
/* #region */ 

.frankfurt_start_banken_und_messen_img_three{
    float: left;
    border: 3px solid black;
    border-radius: 0px;
    margin-left: 20px;
    margin-right: 20px;

    max-width: auto;
    height: 120px;

    position: relative;
    z-index: -2;
}



.container_frankfurt_start_banken_und_messen_img_three{
    width: 176.61px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
}


.text_container_frankfurt_start_banken_und_messen_img_three{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_container_frankfurt_start_banken_und_messen_img_div_three{
    width: 176.61px;
    height: 120px;
    position: relative;
    margin-bottom: 20px;
    left: 20px;

    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: 0.6s;
}
.text_container_frankfurt_start_banken_und_messen_img_div_three:hover{
    opacity: 1;
}

/* #endregion */